<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="center">
      <div class="video-player">
        <video id="player" width="640" height="360" controls>
          <source type="video/mp4">
          Your browser does not support playing this Video
        </video>
      </div>
    </div>
  </body>
</html>